body {
  color: #FFFFFF;
  font-family: Courier New, Courier, monospace;
  font-size: 12pt;
  background-color: #1b1b1b;
}

header {
  background-color: #11221b;
  width: 100%;
}

#processed-image {
    width: 50%;
}